@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-gray-900 transition-colors duration-300;
  -webkit-font-smoothing: antialiased;
}

.dark body {
  @apply bg-darkBg text-gray-100;
}

/* Custom Scrollbar */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #cbd5e1; border-radius: 10px; }
.dark ::-webkit-scrollbar-thumb { background: #334155; }
